// Import all to main
@import "globalSetup";


.mayor-pic-rounded {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    float: left;
    margin-right: 3.5em;
    shape-outside: circle(50%);

    @include destop {
        margin-right: 3.5em;
    }

    @include tablet {
        margin-right: 1.5em;
    }

    @include mobile {
        margin-right: 1.2em;
    }
}