// Import all to main
@import "globalSetup";


.alignYoutubeCenter {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.pic_center {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

}