// Import all to main
@import "globalSetup";
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

$textIndexColor: #8F3985;
$mainText: Alef;
$bold: 700;
$regular: 400;

.addloveicon li {
    padding-left: 1.3em;
    padding-right: .3em;
    list-style-type: '❤';
    list-style: '❤';
    color: $textIndexColor ;
    font-family: $basefontText;
    font-weight: $bold;

}

p {
    font-family: $mainText;
    font-weight: $bold;
    color: $textIndexColor ;
}

.bgc-popup {
    background-color: $textColor;
}

.btn-primary {
    background-color: $textColor;
    border: 1px solid $textColor;

    &:hover {
        background-color: $textColor;
        border: 1px solid $textColor;
    }
}

.btn-secondary {
    background-color: $headColor;
    color: $textWithShadowColor;
    border: 1px solid $textColor;

    &:hover {
        background-color: $headColor;
        border: 1px solid $textColor;
    }
}

.modal-body {
    font-family: $basefontText;
}

.floatLeft {
    float: left;
    margin-right: .5em;
}

.fit {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


.align-content-center,
.justify-content-center {
    height: auto;

    @include destop {
        align-items: center;
        justify-content: center;
    }

    @include tablet {
        align-items: flex-start;
        justify-content: left;
    }

    @include mobile {
        align-items: flex-start;
        justify-content: left;
    }
}


.borderFit {
    border: 3px solid #000;
    border-radius: 50px;
    width: fit-content;
    margin: 0 auto;

}

.myButton {
    // box-shadow: inset 0px 10px 32px -14px #fce2c1;
    background-color: #fbee65;
    border-radius: 28px;
    // border: 1px solid #eeb44f;
    // display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: $basefontHead;
    font-size: 1.5rem;
    padding: 16px 31px;
    text-decoration: none;
    // text-shadow: 0px 0px 0px #cc9f52;
}

.myButton:hover {
    background-color: #fbee20;
    // border: none;
    color: $smallColor;
}





// Card

.wrapper {
    margin: 10vh
}

//post card styles

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        min-height: 350px;
    }

    @media (max-width: 420px) {
        min-height: 300px;
    }

    &.card-has-bg {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: center center;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: inherit;
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        &:hover {
            transform: scale(0.98);
            box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
            background-size: 130%;
            transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

            .card-img-overlay {
                transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
                background: rgb(100, 100, 100);
                background: linear-gradient(0deg, rgba(100, 100, 100, 0.5) 0%, rgba(100, 100, 100, 1) 100%);
            }
        }
    }

    .card-footer {
        background: none;
        border-top: none;

        .media {
            img {
                border: solid 3px rgba(255, 255, 255, 0.3);
            }
        }
    }

    .card-meta {
        color: $bgcColor;
    }

    .card-body {
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    &:hover {
        .card-body {
            margin-top: 30px;
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }

        cursor: pointer;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    // card befor== color
    .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(100, 100, 100);
        background: linear-gradient(0deg, rgb(100, 100, 100) 0%, rgba(100, 100, 100, 0.301) 100%);
    }
}

@media (max-width: 767px) {}