@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,800;0,900;1,300;1,400;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cbb2ff;
  opacity: 0.9;
  width: 100vw;
}

.nav-link:hover {
  text-shadow: 2px 1px 10px #275DAD;
}

.nav-link {
  color: #c29a3f;
  font-size: 1rem;
}

.smallLogo {
  height: 60px;
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik;
  font-weight: 600;
}

.fontHackerU {
  font-family: "Varela Round";
}

p {
  color: #c29a3f;
  font-family: "Varela Round";
}

.center {
  text-align: center;
}

.smallSocialIcon {
  width: 5vw;
}
@media (max-width: 1600px) {
  .smallSocialIcon {
    width: 15px;
  }
}
@media (max-width: 800px) {
  .smallSocialIcon {
    width: 5vw;
  }
}
@media (max-width: 600px) {
  .smallSocialIcon {
    width: 5vw;
  }
}

.shadow,
h1,
h2 {
  text-shadow: 2px 1px 10px #275DAD;
  color: #ffb;
}

.centerPcRightMobile {
  display: flex;
}
@media (max-width: 1600px) {
  .centerPcRightMobile {
    align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .centerPcRightMobile {
    align-items: flex-start;
    justify-content: right;
  }
}
@media (max-width: 600px) {
  .centerPcRightMobile {
    align-items: flex-start;
    justify-content: right;
  }
}

.displayOnlyInPc {
  display: block;
}
@media (max-width: 1600px) {
  .displayOnlyInPc {
    display: block;
  }
}
@media (max-width: 800px) {
  .displayOnlyInPc {
    display: none;
  }
}
@media (max-width: 600px) {
  .displayOnlyInPc {
    display: none;
    visibility: hidden;
    display: none;
  }
}

.displayOnlyInMobile {
  display: none;
}
@media (max-width: 1600px) {
  .displayOnlyInMobile {
    display: none;
  }
}
@media (max-width: 800px) {
  .displayOnlyInMobile {
    display: block;
  }
}
@media (max-width: 600px) {
  .displayOnlyInMobile {
    display: block;
  }
}

@media (max-width: 800px) {
  .nav-link {
    text-align: right;
  }
}
@media (max-width: 600px) {
  .nav-link {
    text-align: right;
  }
}

.addloveicon li {
  padding-left: 1.3em;
  padding-right: 0.3em;
  list-style-type: "❤";
  list-style: "❤";
  color: #8F3985;
  font-family: "Varela Round";
  font-weight: 700;
}

p {
  font-family: Alef;
  font-weight: 700;
  color: #8F3985;
}

.bgc-popup {
  background-color: #cbb2ff;
}

.btn-primary {
  background-color: #cbb2ff;
  border: 1px solid #cbb2ff;
}
.btn-primary:hover {
  background-color: #cbb2ff;
  border: 1px solid #cbb2ff;
}

.btn-secondary {
  background-color: #c29a3f;
  color: #275DAD;
  border: 1px solid #cbb2ff;
}
.btn-secondary:hover {
  background-color: #c29a3f;
  border: 1px solid #cbb2ff;
}

.modal-body {
  font-family: "Varela Round";
}

.floatLeft {
  float: left;
  margin-right: 0.5em;
}

.fit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.align-content-center,
.justify-content-center {
  height: auto;
}
@media (max-width: 1600px) {
  .align-content-center,
  .justify-content-center {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .align-content-center,
  .justify-content-center {
    align-items: flex-start;
    justify-content: left;
  }
}
@media (max-width: 600px) {
  .align-content-center,
  .justify-content-center {
    align-items: flex-start;
    justify-content: left;
  }
}

.borderFit {
  border: 3px solid #000;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.myButton {
  background-color: #fbee65;
  border-radius: 28px;
  cursor: pointer;
  color: #ffffff;
  font-family: Rubik;
  font-size: 1.5rem;
  color: #8F3962;
  padding: 16px 31px;
  text-decoration: none;
}

.myButton:hover {
  background-color: #fbee20;
  color: #56445d;
}

.wrapper {
  margin: 10vh;
}

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 450px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 768px) {
  .card {
    min-height: 350px;
  }
}
@media (max-width: 420px) {
  .card {
    min-height: 300px;
  }
}
.card.card-has-bg {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center center;
}
.card.card-has-bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.card.card-has-bg:hover {
  transform: scale(0.98);
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  background-size: 130%;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card.card-has-bg:hover .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: rgb(100, 100, 100);
  background: linear-gradient(0deg, rgba(100, 100, 100, 0.5) 0%, rgb(100, 100, 100) 100%);
}
.card .card-footer {
  background: none;
  border-top: none;
}
.card .card-footer .media img {
  border: solid 3px rgba(255, 255, 255, 0.3);
}
.card .card-meta {
  color: #c29a3f;
}
.card .card-body {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover {
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card:hover .card-body {
  margin-top: 30px;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}
.card .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: rgb(100, 100, 100);
  background: linear-gradient(0deg, rgb(100, 100, 100) 0%, rgba(100, 100, 100, 0.301) 100%);
}/*# sourceMappingURL=index.css.map */