// Import all to main
@import "globalSetup";

.addloveicon li {
    padding-left: 1.3em;
    padding-right: .3em;
    list-style-type: '♡';
    list-style: '♡';
    // color: red;
    // [18: 01, 21.11.2022] Lidor Malich: ♡ [18:01, 21.11.2022] Lidor Malich: ♧
}

.btn-primary {
    color: $textColor ;
    background-color: $headMainColor;
}

.btn-primary:hover {
    color: $headMainColor;
    background-color: $textColor;
}