@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,800;0,900;1,300;1,400;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Suez+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cbb2ff;
  opacity: 0.9;
  width: 100vw;
}

.nav-link:hover {
  text-shadow: 2px 1px 10px #275DAD;
}

.nav-link {
  color: #c29a3f;
}

.smallLogo {
  height: 50px;
  width: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Rubik;
  font-weight: 600;
}

.fontHackerU {
  font-family: Varela;
}

p {
  color: #c29a3f;
  font-family: Varela;
}

.smallSocialIcon {
  width: 5vw;
}
@media (max-width: 1600px) {
  .smallSocialIcon {
    width: 15px;
  }
}
@media (max-width: 800px) {
  .smallSocialIcon {
    width: 5vw;
  }
}
@media (max-width: 600px) {
  .smallSocialIcon {
    width: 5vw;
  }
}

.shadow,
h1,
h2 {
  text-shadow: 2px 1px 10px #275DAD;
  color: #ffb;
}

.centerPcRightMobile {
  display: flex;
}
@media (max-width: 1600px) {
  .centerPcRightMobile {
    align-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .centerPcRightMobile {
    align-items: flex-start;
    justify-content: right;
  }
}
@media (max-width: 600px) {
  .centerPcRightMobile {
    align-items: flex-start;
    justify-content: right;
  }
}

.displayOnlyInPc {
  display: block;
}
@media (max-width: 1600px) {
  .displayOnlyInPc {
    display: block;
  }
}
@media (max-width: 800px) {
  .displayOnlyInPc {
    display: none;
  }
}
@media (max-width: 600px) {
  .displayOnlyInPc {
    display: none;
    visibility: hidden;
    display: none;
  }
}

.displayOnlyInMobile {
  display: none;
}
@media (max-width: 1600px) {
  .displayOnlyInMobile {
    display: none;
  }
}
@media (max-width: 800px) {
  .displayOnlyInMobile {
    display: block;
  }
}
@media (max-width: 600px) {
  .displayOnlyInMobile {
    display: block;
  }
}

.addloveicon li {
  padding-left: 1.3em;
  padding-right: 0.3em;
  list-style-type: "♡";
  list-style: "♡";
}

.btn-primary {
  color: #cbb2ff;
  background-color: #ffb;
}

.btn-primary:hover {
  color: #ffb;
  background-color: #cbb2ff;
}

.card-title {
  color: #8F3985;
  text-align: center;
}

.card-text {
  font-family: Bellefair;
  color: #656264;
}

.text-center {
  font-family: Bellefair;
  color: #656264;
}

.cityFont {
  font-family: Heebo;
  color: #56445d;
  text-align: left;
}

.leftSide {
  text-align: right;
}

.redLink {
  color: red;
  text-align: center;
}
.redLink:hover {
  color: #ffb;
}

.card {
  background-color: #e5d8ff;
}

.smallImagCrad {
  height: 40px;
  width: 40px;
}

.btn-primary {
  background-color: #e5d8ff;
  color: #8F3985;
}/*# sourceMappingURL=search.css.map */